body{
background: linear-gradient(225deg, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #88e3b8;
}
.app{
    height: 100vh;
}

h2{
    font-family: 'Dancing Script', cursive;
}

.button{
    background: #88e3b8;
}