.container{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.item1 , .item2 , .item3{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2%;
}
button{
    width: 150px;
    padding: 3%;
    margin: 1%;
    font-size: medium;
    border: solid thin white;
}
button:hover{
    border: solid thin black;
    cursor: pointer;
}
