*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.app{
    position: fixed;
    width: 100%;
    height: 70%;
    margin-top: 5%;
    max-width: 600px;
    background: linear-gradient(60deg, #abbaab, #ffffff);
    border: 1px solid #ffffff;
    border-radius: 5px;

}
.app > .screen{
    display: none;
}
.app > .screen.active{
    display: block;
    width: 100%;
    height: 100%;
}
.screen .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;

}
.screen .form-input{
    width: 100%;
    margin: 20px 0px;
}
.screen h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid #8f9c8f;
    padding: 5px 0px;
    display: inline-block; 
}
.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}
.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    font-size: 16px;
 
}
.screen .form-input button{
    padding: 10px 20px;
    background: #8f9c8f;
    color: white;
    font-size: medium;
    border: solid 1px #8f9c8f;
    border-radius: 5px;
    outline: none;
}

.screen .form-input button:hover{
    cursor: pointer;
    color: #8f9c8f;
    background:#ffffff;
}

.chat-screen .header{
    background: #8f9c8f;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.chat-screen .header .logo{
    font-size: larger;
    font-family: monospace;
    color: #ffffff;
    font-weight: 600;
}
.chat-screen .header button{
    padding: 5px 10px;
    border: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
    outline: none;
}
.chat-screen .messages{
    width: 100%;
    height: calc(100% - 100px);
    overflow: auto;
}
.chat-screen .messages .message{
    display: flex;
    padding: 10px;
}
.chat-screen .messages .message > div{
   max-width: 80%;
   background: #fff;
   box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.05);
   padding: 10px;
}

.my-message{
    justify-content: flex-end;
}
.other-message{
    justify-content: flex-start;
    
}
.chat-screen .messages .message .name{
    font-size: 13px;
    color: #555;
    margin-bottom: 5px;
}
.chat-screen .messages .message .text{
    word-wrap: break-word;
}
.chat-screen .messages .update{
    text-align: center;
    background: rgba(143, 156, 143,0.2);
    padding: 1%;
    font-style: italic;
    font-family: monospace;
    font-size: large;
    font-weight: 600;
}
.chat-screen .typebox{
    width: 100%;
    height: 50px;
    display: flex;
}
.chat-screen .typebox input {
    flex: 1;
    height: 40px;
    padding-left: 3%;
    margin-left: 5%;
    font-size: large;
    border:solid 1px #8f9c8f;
    border-radius: 2.5rem;
}
.chat-screen .typebox input:focus {
    outline: none;
}

.chat-screen .typebox button{
    width: 100px;
    height: 40px;
    margin-left: 5%;
    margin-right: 5%;
    background: #8f9c8f;
    color: white;
    font-size: medium;
    border-radius: 2.5rem;
    outline: none;
    border: none;
    cursor: pointer;
}