<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <button class="btn btn-dark" type="submit">Login</button>
      <a class="navbar-brand h1" href="{% url 'user:signup' %}">if not registerd?, Sign up now</a>
    </form>
  </body>
</html>