#Text
{
    -fx-fill: #ff0000;
    -fx-font: 25px sans-serif;
}
#ReflectedText
{
    -fx-fill: linear-gradient(transparent 20%, red 100%);
    -fx-font-size: 25px;
    -fx-translate-y: 30;
    -fx-scale-y: -1;
    -fx-opacity: 0.8;
}
#Background
{
    -fx-fill: linear-gradient(black 0%, white 50%, black 100%);
}

