<!-- wp:template-part {"slug":"header","theme":"skt-fse"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group"><!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","bottom":"80px","right":"15px","left":"15px"}}},"className":"skt-fse-404","layout":{"type":"constrained"}} -->
<div class="wp-block-group skt-fse-404" style="padding-top:80px;padding-right:15px;padding-bottom:80px;padding-left:15px"><!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontSize":"46px","fontStyle":"normal","fontWeight":"700"},"color":{"text":"#0a1d2d"}}} -->
<h3 class="has-text-align-center has-text-color" style="color:#0a1d2d;font-size:46px;font-style:normal;font-weight:700">Page not found</h3>
<!-- /wp:heading -->

<!-- wp:heading {"textAlign":"center","level":3,"style":{"typography":{"fontSize":"150px","fontStyle":"normal","fontWeight":"700"},"color":{"text":"#0a1d2d"}}} -->
<h3 class="has-text-align-center has-text-color" style="color:#0a1d2d;font-size:150px;font-style:normal;font-weight:700">404</h3>
<!-- /wp:heading -->

<!-- wp:spacer {"height":"30px"} -->
<div style="height:30px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search ...","width":50,"widthUnit":"%","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"align":"center","style":{"border":{"width":"0px","style":"none"}}} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"skt-fse","tagName":"footer"} /-->