<!-- wp:template-part {"slug":"header","theme":"skt-fse","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"skt-fse/skt-fse-hero-banner"} /-->

<!-- wp:pattern {"slug":"skt-fse/skt-fse-section1"} /-->

<!-- wp:pattern {"slug":"skt-fse/skt-fse-section2"} /-->

<!-- wp:pattern {"slug":"skt-fse/skt-fse-section6"} /-->

<!-- wp:pattern {"slug":"skt-fse/skt-fse-section11"} /-->

</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"skt-fse","tagName":"footer"} /-->