<!-- wp:template-part {"slug":"header","theme":"skt-fse"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:group {"style":{"spacing":{"padding":{"top":"80px","right":"15px","bottom":"80px","left":"15px"}}},"layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group" style="padding-top:80px;padding-right:15px;padding-bottom:80px;padding-left:15px"><!-- wp:query {"queryId":21,"query":{"perPage":"10","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false}} -->
<div class="wp-block-query"><!-- wp:post-template {"fontFamily":"poppins"} -->
<!-- wp:columns {"align":"wide","style":{"border":{"bottom":{"color":"#ebebeb","width":"1px"}}}} -->
<div class="wp-block-columns alignwide" style="border-bottom-color:#ebebeb;border-bottom-width:1px"><!-- wp:column {"width":"33.33%","className":"skt-fse-blog-image"} -->
<div class="wp-block-column skt-fse-blog-image" style="flex-basis:33.33%"><!-- wp:post-featured-image {"isLink":true,"style":{"border":{"radius":"10px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"66.66%","style":{"elements":{"link":{"color":{"text":"#0a1d2d"}}},"typography":{"fontSize":"18px"},"spacing":{"padding":{"left":"30px"}}},"className":"skt-fse-blog-content","fontFamily":"poppins"} -->
<div class="wp-block-column skt-fse-blog-content has-link-color has-poppins-font-family" style="padding-left:30px;font-size:18px;flex-basis:66.66%"><!-- wp:post-title {"isLink":true,"style":{"elements":{"link":{"color":{"text":"#0a1d2d"}}},"typography":{"fontSize":"24px","fontStyle":"normal","fontWeight":"600","lineHeight":1.4},"spacing":{"padding":{"bottom":"15px"}}},"fontFamily":"poppins"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"bottom":"15px"}}},"className":"skt-fse-blog-meta","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group skt-fse-blog-meta" style="padding-bottom:15px"><!-- wp:post-date {"style":{"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400"}},"textColor":"foreground","fontFamily":"poppins"} /-->

<!-- wp:post-author {"showAvatar":false,"style":{"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400"},"spacing":{"padding":{"right":"20px","left":"20px"}}},"textColor":"foreground","fontFamily":"poppins"} /-->

<!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|tertiary"}}},"typography":{"fontSize":"16px","fontStyle":"normal","fontWeight":"400"}},"fontFamily":"poppins"} /--></div>
<!-- /wp:group -->

<!-- wp:post-excerpt {"moreText":"Read More","style":{"color":{"text":"#0a1d2d"},"typography":{"fontSize":"17px","fontStyle":"normal","fontWeight":"400","lineHeight":1.5},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"fontFamily":"poppins"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-pagination {"paginationArrow":"arrow","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}},"typography":{"fontSize":"18px","fontStyle":"normal","fontWeight":"400"}},"textColor":"foreground","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-numbers /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group -->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"skt-fse"} /-->