<!-- wp:template-part {"slug":"header","theme":"skt-fse","tagName":"header"} /-->
<!-- wp:pattern {"slug":"skt-fse/skt-fse-with-post-title"} /-->
<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group">
<!-- wp:group {"style":{"spacing":{"padding":{"left":"15px","bottom":"80px","right":"15px","top":"80px"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"1200px"}} -->
<div class="wp-block-group has-background-background-color has-background" style="padding-top:80px;padding-right:15px;padding-bottom:80px;padding-left:15px"><!-- wp:post-content /-->

<!-- wp:comments {"style":{"spacing":{"padding":{"top":"var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dspacing\u002d\u002dmedium, 6rem)"}}}} -->
<div class="wp-block-comments" style="padding-top:var(--wp--custom--spacing--medium, 6rem)"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"80px","style":{"spacing":{"padding":{"right":"20px"}}}} -->
<div class="wp-block-column" style="padding-right:20px;flex-basis:80px"><!-- wp:avatar {"size":60,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"style":{"typography":{"fontSize":"18px"}}} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"style":{"typography":{"fontSize":"16px"}}} /-->

<!-- wp:comment-edit-link {"style":{"typography":{"fontSize":"16px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"15px"} -->
<div style="height:15px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:comment-content {"style":{"typography":{"fontSize":"18px"}}} /-->

<!-- wp:comment-reply-link {"style":{"typography":{"fontSize":"16px"}}} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div>
<!-- /wp:group -->
</main><!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"skt-fse","tagName":"footer"} /-->