{% extends 'main/base_layout.html' %}

{# override block title #}
{% block title %}
    Books List
{% endblock %}

{# override body #}
{% block main-content %}
<div class="container" style="height: 80vh;">
    <div class="d-flex text-center my-4 justify-content-end ">
        <a class="btn btn-success" href="{% url 'book-add' %}">Add New Book</a>
    </div>

    <table class="container table table-condensed text-center">
    <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Price </th>
            <th> Description </th>
            <th> Actions </th>
        </tr>
    </thead>
    
    <tbody>
        {% for book in books_list%}
    <tr {% if book.price > 1000 %} style="color:red" {% else %} style="color:green" {% endif %} >
        <td> {{ book.id }} </td>
        <td> {{ book.name }} </td>
        <td> {{ book.price }} EGP</td>
        <td> {{ book.description | truncatewords:2  | title }} </td>
        
        <td> 
            <a class="btn btn-primary text-light" href="{% url 'book-details' book.id %}"> View</a>
            <a class="btn btn-info text-light" href="{% url 'book-update' book.id %}"> Update</a>
            <a class="btn btn-danger text-light" href="{% url 'book-delete' book.id %}"> Delete</a>
        </td>
    </tr>

    {% empty %}
    <tr>
        <td colspan="3" class="text-center"> Sorry, This Book Not Found in The List</td>
    </tr>
    {% endfor %}
    </tbody>

    </table>
</div>
{% endblock %}