@import './imageSlider.css';
@import './digitalWatch.css';

*{
    margin-top: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
}
.container{
    display: flex;
    justify-content: center;
}
.container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border:solid thin black;
    width: 50%;
    margin: 2%;
    padding-bottom: 1%;
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    padding: 0.5%;
    width: auto;
}
button:hover
{
    cursor: pointer;
    background-color: rgb(204, 230, 254);
    border: solid white thin;
}
h2{
    text-align: center;
    color:aliceblue;
    background-color:rgb(172, 215, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
    color:black;
}
