<footer class="col-12 d-flex flex-row justify-content-center align-items-center">
  <div class="contact-social">
    <ul>
      <li><a class="hover-target" href="https://www.facebook.com/hager.abdelgalil"><i class="fab fa-facebook-f"></i></a></li>
      <li><a class="hover-target" href="https://www.linkedin.com/in/hager-abd-el-galil-a15448198"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a class="hover-target" href="https://github.com/Hager-Abd-El-Galil"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
</footer>
